.gist { border-radius:8px !important; background: transparent; color:#d1d9e1 !important; font-size: 14px; }
.gist .gist-data { border:none !important; background: none !important; }

 .gist .gist-file { background: #474949 !important; border-radius: 8px !important; padding:10px; border:2px solid #616363 !important; }
 .gist .gist-file .gist-meta {display:none;}

 .gist-syntax .c { color:#00ffff; font-style:normal; } /* Comment */
 .gist-syntax .cm { color:#00ffff; font-style:normal; } /* Comment.Multiline */
 .gist-syntax .cp { color:#00ffff; font-style:normal; } /* Comment.Preproc */
 .gist-syntax .c1 { color:#677C99 !important; font-style:normal; } /* Comment.Single */
 .gist-syntax .cs { color:#00ffff; font-style:normal; } /* Comment.Special */

 .gist-syntax .k { color:#6bffbd !important; font-weight:bold; } /* Keyword */
 .gist-syntax .kc { color:#6bffbd; font-weight:bold; } /* Keyword.Constant */
 .gist-syntax .kd { color:#cd950c; } /* Keyword.Declaration */
 .gist-syntax .kp { color:#6bffbd; font-weight:bold; } /* Keyword.Pseudo */
 .gist-syntax .kr { color:#6bffbd; font-weight:bold; } /* Keyword.Reserved */
 .gist-syntax .kt { color:#6bffbd; font-weight:bold; } /* Keyword.Type */

 .gist-syntax .gd { color: #c2c2c2; background-color: #ffdddd } /* Generic.Deleted */
 .gist-syntax .gd .x { color: #c2c2c2; background-color: #ffaaaa } /* Generic.Deleted.Specific */
 .gist-syntax .ge { color: #c2c2c2; font-style: italic } /* Generic.Emph */
 .gist-syntax .gr { color: #aa0000 } /* Generic.Error */
 .gist-syntax .gh { color: #999999 } /* Generic.Heading */
 .gist-syntax .gi { color: #c2c2c2; background-color: #ddffdd } /* Generic.Inserted */
 .gist-syntax .gi .x { color: #c2c2c2; background-color: #aaffaa } /* Generic.Inserted.Specific */
 .gist-syntax .go { color: #888888 } /* Generic.Output */
 .gist-syntax .gp { color: #555555 } /* Generic.Prompt */
 .gist-syntax .gs { font-weight: bold } /* Generic.Strong */
 .gist-syntax .gu { color: #aaaaaa } /* Generic.Subheading */
 .gist-syntax .gt { color: #aa0000 } /* Generic.Traceback */

 .gist-syntax .m { color: #00ee00; } /* Literal.Number */
 .gist-syntax .mf { color: #00ee00; } /* Literal.Number.Float */
 .gist-syntax .mh { color: #00ee00; } /* Literal.Number.Hex */
 .gist-syntax .mi { color: #00ee00; } /* Literal.Number.Integer */
 .gist-syntax .mo { color: #00ee00; } /* Literal.Number.Oct */
 .gist-syntax .il { color: #00ee00; } /* Literal.Number.Integer.Long */

 .gist-syntax .s { color: #bdf !important; } /* Literal.String */
 .gist-syntax .sb { color: #00ee00 } /* Literal.String.Backtick */
 .gist-syntax .sc { color: #00ee00 } /* Literal.String.Char */
 .gist-syntax .sd { color: #00ee00 } /* Literal.String.Doc */
 .gist-syntax .s2 { color: #00ee00 } /* Literal.String.Double */
 .gist-syntax .se { color: #00ee00 } /* Literal.String.Escape */
 .gist-syntax .sh { color: #00ee00 } /* Literal.String.Heredoc */
 .gist-syntax .si { color: #00ee00 } /* Literal.String.Interpol */
 .gist-syntax .sx { color: #00ee00 } /* Literal.String.Other */
 .gist-syntax .sr { color: #00ee00 } /* Literal.String.Regex */
 .gist-syntax .s1 { color: #00ee00 } /* Literal.String.Single */
 .gist-syntax .ss { color: #ddd !important; } /* Literal.String.Symbol */

 .gist-syntax .na { color: #008080 } /* Name.Attribute */
 .gist-syntax .nb { color:#6bfffd !important } /* Name.Builtin */
 .gist-syntax .nc { color: #445588; font-weight: bold } /* Name.Class */
 .gist-syntax .no { color: #d1d9e1 !important; } /* Name.Constant */

 .gist-syntax .ni { color: #800080 } /* Name.Entity */
 .gist-syntax .ne { color: #990000; font-weight: bold } /* Name.Exception */
 .gist-syntax .nf { color: #6bffbd !important; font-weight:normal !important; } /* Name.Function */
 .gist-syntax .nn { color: #555555 } /* Name.Namespace */
 .gist-syntax .nt { color: #000080 } /* Name.Tag */
 .gist-syntax .nv { color: #ddd !important; } /* Name.Variable */
 .gist-syntax .bp { color: #999999 } /* Name.Builtin.Pseudo */
 .gist-syntax .vc { color: #008080 } /* Name.Variable.Class */
 .gist-syntax .vg { color: #008080 } /* Name.Variable.Global */
 .gist-syntax .vi { color: #008080 } /* Name.Variable.Instance */


 .gist-syntax .o { color:#999 !important; } /* Operator */
 .gist-syntax .ow { color:#c7c7c7; font-weight: bold; } /* Operator.Word */

 .gist-syntax .err { color: #a61717; background-color: #e3d2d2 } /* Error */

 .gist-syntax .w { color: #bbbbbb } /* Text.Whitespace */

 .gist-syntax .p { color:#999; } /* paren */

 .gist-syntax .kd { color:#6bffbd !important; font-weight:normal !important; } /* Keyword.Declaration */
