body {
  background: #2a2b2b;
  color: #d1d9e1;
  background: url('/img/bg.png');
  padding: 60px 80px;
  font-family: 'Helvetica Neue',Helvetica,Verdana;
}
#wrapper {
  width: 980px;
  margin: 0 auto;
}
#content {
  float: left;
  display: inline;
  width: 100%;
  min-height: 480px;
  padding-bottom: 100px;
}
a {
  text-decoration: none;
  color: #d1d9e1;
}
a:hover {
  color: #6bffbd;
}
em {
  color: #6bffbd;
}
h1 {
  float: left;
  display: inline;
  margin-bottom: 0px;
  color: #d1d9e1;
}
h2 {
  color: #6bffbd;
  float: left;
  display: inline;
  width: 100%;
  font-size: 24px;
}
h3 {
  color: #6bffbd;
}
p a {
  text-decoration: underline;
  color: #91979d;
}
#started {
  padding-top: 70px;
  margin-bottom: 30px;
}
#tutorialContent {
  margin-left: 150px;
  width: 700px;
}
#tutorialContent blockquote {
  color: #91979d;
  margin: 30px 0;
  font-style: italic;
  width: 550px;
  margin-left: 50px;
}

#tutorialContent .gist {
  margin: 30px 0;
}

#tutorialContent p {
  margin-bottom: 15px;
}

#tutorialContent h2 {
  display: block;
  margin: 15px 0;
}
#tutorials {
  float: left;
  display: inline;
  width: 800px;
  margin-left: 90px;
}
#tutorials ul {
  float: left;
  display: inline;
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
}
#tutorials ul li {
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 30px;
  margin-right: 20px;
}
#tutorials ul li p {
  float: left;
  display: inline;
  color: #91979d;
  margin-top: 10px;
  max-width: 450px;
}

#tutorials ul li a {
  border-radius: 8px;
  padding: 10px;
  background: #474949;
  border: 2px solid #515353;
  float: left;
  display: inline;
  text-align: center;
  width: 250px;
  margin-right: 40px;
  font-size: 18px;
  border-radius: 8px;
  padding: 20px;
}
#tutorials ul li a:hover {
  background: #3f634d;
  border: 2px solid #3c8455;
}

#tutorials h3 {
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 20px;
  font-size: 28px;
}
#step2 {
  margin-top: 110px;
}
#step4 {
  margin-top: 190px;
}
#desc {
  margin-top: 45px;
}
#footer {
  padding-bottom: 40px;
  float: left;
  display: inline;
  width: 100%;
  text-align: center;
}
code {
  float: left;
  display: inline;
  border-radius: 8px;
  padding: 10px;
  background: #474949;
  border: 2px solid #616363;
  font-family: Monaco, Consolas, 'Courier New';
}
#header {
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 100px;
}
#header h2 {
  float: left;
  display: inline;
  color: #d1d9e1;
  width: 100%;
  margin-top: 10px;
  margin-left: 60px;
  font-size: 18px;
  font-weight: normal;
}

#header ul {
  float: right;
  display: inline;
  list-style: none;
  margin-top: 30px;
}
#header ul li {
  float: left;
  display: inline;
}
#header ul li a {
  float: left;
  display: inline;
  border-radius: 8px;
  padding: 10px;
  background: #474949;
  border: 2px solid #616363;
  padding: 8px;
  margin-left: 10px;
}
#header ul li a:hover {
  background: #3f634d;
  border: 2px solid #3c8455;
}
ul.start {

}
ul.start li {
  float: left;
  display: inline;
  margin-bottom: 55px;
  width: 100%;
}
ul.start li + li {
  margin-top: 20px;
}

ul.start li p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

ul.start li p + p {
  margin-top: 15px;
}

ul.start li .gist {
  width: 100%;
}

ul.start li .right {
  float: left;
  display: inline;
  width: 45%;
  margin-left: 10%;
}

ul.start li .left {
  float: left;
  display: inline;
  width: 45%;
}