<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Noir</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/css/screen.css" rel="stylesheet" type="text/css" />
        <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js">
        </script>
        <script type="text/javascript">
            //<![CDATA[

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-24109853-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

                //]]>
            </script>
        </head>

        <body>
            <div id="wrapper">
                <div id="content">
                    <div id="header">
                        <h1><a href="/"><img alt="Noir" src="/img/noir-logo.png" /></a></h1>

                        <ul>
                            <li><a href="/#started">Get Started</a></li>
                            <li><a href="/tutorials">Tutorials</a></li>
                            <li><a href="http://groups.google.com/group/clj-noir">Google Group</a></li>
                            <li><a href="/docs/">API</a></li>
                            <li><a href="https://github.com/noir-clojure/noir">Src</a></li>
                        </ul>

                        <h2>The Clojure web framework</h2>
                    </div>

                    <div class="{{ page.class }}">
                    {{ content }}
                    </div>

                    <div id="footer">
                        <p>Copyright &copy; 2011 <a href="http://chris-granger.com">Chris
                            Granger</a>. All rights reserved.</p>
                    </div>
                </div>
            </body>
        </html>


